<!DOCTYPE html>
<html>
<head>
  <title>SCAPtimony</title>
  <%= stylesheet_link_tag    "scaptimony/application", :media => "all" %>
  <%= javascript_include_tag "scaptimony/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
